@model arboldecisiones.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h3>Detalle Usuario</h3>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Código
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identity)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Correo electrónico
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Activo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt>
            Actualización
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>
</div>
<h4>Rol</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>No se encontraron roles para este usuario</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn-back" })
</p>



