@model IEnumerable<arboldecisiones.Models.Category>

@{
    ViewBag.Title = "Sección de la botella";
}

<div class="container-fluid py-2">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header" style="background-color:#000;">
                    <div class="row mt-4" style="display: flex; justify-content: center; align-items: center;">
                        <div class="col-md-3 text-center">
                            <img src="~/Content/Images/System/whitelogo.png" style="max-width:70%" />
                        </div>
                        <div class="col-md-9">
                            <p class="h2 font-weight-bolder text-yellow" align="right">Interfaz de Navegación</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row ms-4">
                        <!--<div class="col-md-6"></div>-->
                        <div class="col-md-12 text-center">
                            <p class="h5 text-white">Ahora, indica la ubicación del defecto en el envase…</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <p class="h4 font-weight-bolder text-yellow">Cerveza</p>
                    </div>
                    <div class="row" style="display: flex; justify-content: center; align-items: center;">
                        <div class="col-md-6">
                            <div class="m-md-1">
                                <img class="img-fluid" id="Boca" src='@Url.Content("~/Content/Images/System/CervezaBq.png")' alt="Boca" onclick="location.href ='@Url.Action("TreeBottleDefect", "TreeDefects")'" style="cursor: pointer">
                            </div>
                            <div class="m-md-1">
                                <img class="img-fluid" id="Cuello" src='@Url.Content("~/Content/Images/System/CervezaCuello.png")' alt="Cuello" onclick="location.href ='@Url.Action("TreeBottleDefect", "TreeDefects")'" style="cursor: pointer">
                            </div>
                            <div class="m-md-1">
                                <img class="img-fluid" id="Hombro" src='@Url.Content("~/Content/Images/System/Cervezahombros.png")' alt="Hombro" onclick="location.href ='@Url.Action("TreeBottleDefect", "TreeDefects")'" style="cursor: pointer">
                            </div>
                            <div class="m-md-1">
                                <img class="img-fluid" id="Cuerpo" src='@Url.Content("~/Content/Images/System/CervezaCuerpo.png")' alt="Cuerpo" onclick="location.href ='@Url.Action("TreeBottleDefect", "TreeDefects")'" style="cursor: pointer">
                            </div>
                            <div class="m-md-1">
                                <img class="img-fluid" id="Talon" src='@Url.Content("~/Content/Images/System/CervezaFondo.png")' alt="Talon" onclick="location.href ='@Url.Action("TreeBottleDefect", "TreeDefects")'" style="cursor: pointer">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="card-footer mb-3 borderYellow">
                    <a href="http://www.o-i.com/" target="_blank"><img style="width:50%; height:auto;" class="mx-auto d-block img-fluid" src="~/Content/Images/System/MWMwhite.png" alt="Gestión de Clientes" /></a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
