@model arboldecisiones.Models.CategoryContainer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>CategoryContainer</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Process.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Process.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            Imagen
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Multimedia.Url)" width="100" height="100">
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn-back" })
    </div>
    }
</div>
<p class="text-danger">@ViewBag.Error</p>
