@model arboldecisiones.Models.CategoryContainer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoryContainer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Process.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Process.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt>
            Imagen
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Multimedia.Url)" width="100" height="100">
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn-back" })
</p>
